@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  background-color: #f8fbfe;
}


:root{
  --color-primary: #6c63ff;
  --color-secundary: #ffb946;

  /* 400, 500, 600 */
  --default-font: 'Poppins', sans-serif; 
}
